/* Reset */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* Typography */

html {
    font-size: 16px;
    scroll-behavior: smooth; /* smooth scrolling */
}
body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-size: 3.4rem;
}

p {
    font-size: 1.25rem;
    line-height: 1.5rem;
}
a {
    font-size: 1.25rem;
    line-height: 1.5rem;
}
h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

/* nav layout */
nav {
    background-color: #0050bf;
}

nav ul {
    display: flex;
    justify-content: left;
    align-items: center;
}
#dark-mode-toggle {
    margin-left: auto;
    margin-right: 1rem;
    cursor: pointer;
    display: flex;
}
#dark-mode-toggle button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
}
#dark-mode-toggle svg {
    width: 1.5rem;
    height: 1.5rem;
}
nav a {
    color: #fff;
    display: block;
    padding: 1rem;
}
nav a:hover {
    background-color: #0047ab;
}

/* header */

header div {
    max-width: 80%;
    margin: 10em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    margin-bottom: 1rem;
}
/* contact button */
header div a {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 2px solid #696969;
    display: inline-block;
    padding: 10px;
    width: 125px;
    color: #696969;
}
header div a:hover {
    border-color: #0050bf;
}
header div a:hover .cursor {
    animation: blink 1s linear infinite;
}
header div a:active {
    transition: all 0.1s ease-in-out;
    background-color: #0050bf;
    color: #fff;
}

header p {
    color: #1f67cc;
}

@keyframes blink {
    0%,
    49% {
        opacity: 0;
    }
    50%,
    100% {
        opacity: 1;
    }
}

/* projects section */
#projects {
    max-width: 80%;
    margin: 0 auto;
}

.album {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.card {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    width: 348px;
    height: 348px;
    display: flex;
    flex-direction: column;
}
.card img {
    object-fit: cover;
}
.card > div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 100%;
}
.card p {
    margin-bottom: auto;
}
.card .buttons {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .buttons div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.card .buttons div button {
    background-color: #fff;
    border: 1px solid #6c757d;
    color: #6c757d;
    height: 31px;
    text-size-adjust: 14px;
    padding: 4px 8px;
}
.card .buttons div button:hover {
    cursor: pointer;
    background-color: #6c757d;
    color: #fff;
}
.card .buttons div button a {
    color: #6c757d;
}
.card .buttons div button a:hover {
    color: #fff;
}
/* todo: projects and everything */
#about {
    max-width: 80%;
    margin: 4em auto;
}

#about .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20rem;
}
#about p {
    margin-bottom: 1rem;
}
#about .content div {
    display: flex;
    flex-direction: column;
}
#about img {
    max-height: 300px;
    max-width: 600px;
    height: auto;
    width: auto;
}

/* skills */

#skills {
    max-width: 80%;
    margin: 4em auto;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}
#skills li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skills svg {
    width: 96px;
    height: 96px;
    color: #696969;
}

/* contact */
#contact {
    max-width: 80%;
    margin: 4em auto;
}

#contact ul {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2rem;
    padding: 1em 0;
}

#contact li svg {
    width: 48px;
    height: 48px;
}

#contact li a {
    color: #1f67cc;
}
#contact li a:hover {
    color: #0050bf;
}
/* footer */
footer {
    background-color: #0050bf;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
